# Ignore Python bytecode
__pycache__/
*.py[cod]

# Ignore virtual environments
venv/
env/

# Ignore environment variables and secrets
*.env
.env*
config/settings/local.py  # If you have a local settings file

# Ignore logs
*.log
logs/
debug.log

# Ignore Django migration files (optional)
*/migrations/*.pyc
*/migrations/__pycache__/
*/migrations/*.py

# Ignore database files
db.sqlite3
*.sqlite3

# Ignore static and media files (if using local storage)


# Ignore compiled files
*.pyc
*.pyo
*.pyd

# Ignore IDE and editor files
.vscode/
.idea/
*.sublime-workspace

# Ignore system files
.DS_Store
Thumbs.db
